.header {
  img {
    object-fit: cover;
    width: 100%;
    max-height: 400px;
  }
}

.content {
  max-width: 721px;
  margin: 5rem auto 4rem;

  .title {
    font-size: 3rem;
    font-weight: bold;
  }

  .body {
    margin-top: 4rem;

    h1 {
      font-size: 2rem;
      font-weight: bold;
      margin: 2rem auto;
      color: var(--heading);
    }

    p {
      font-size: 1.125rem;
      font-weight: normal;
      color: var(--body);
      text-align: justify;

      & + p {
        margin-bottom: 1.125rem;
      }
    }
  }
}
